body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(104, 102, 102);
}

footer{
    background-color: chocolate;
    border: 3px solid black;
}

#cabecalho{
    text-align: center;
    color: rgb(240, 207, 98);
}

#introducao{
    border: 3px solid black;
    padding-left: 200px;
    background-color: white;
}

#formulario{
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#links_site{
    padding-left: 100px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}